<%= render 'shared/vertical_container' do %>
  <%= render 'shared/session_card', content: { title: 'Create An Account' } do %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div>
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class="input-wrapper">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, placeholder: 'Enter email', class: 'input' %>
      </div>

      <div class="input-wrapper">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, placeholder: 'Enter password', class: 'input' %>
      </div>

      <div class="input-wrapper">
        <%= f.label :password_confirmation, 'Password Confirmation' ,class: 'form-label' %>
        <%= f.password_field :password_confirmation, placeholder: 'Enter password confirmation', class: 'input' %>
      </div>

      <div class="input-wrapper">
        <%= f.label :first_name, 'First Name', class: 'form-label' %>
        <%= f.text_field :first_name, placeholder: 'Enter first name', class: 'input' %>
      </div>

      <div class="input-wrapper">
        <%= f.label :last_name, 'Last Name', class: 'form-label' %>
        <%= f.text_field :last_name, placeholder: 'Enter last name', class: 'input' %>
      </div>

      <div class="input-wrapper">
        <%= f.label :gender, class: 'form-label' %>
        <%= f.select :gender, User.gender.options, { prompt: 'Select an Option' }, { class: 'input text-gray-400' } %>
      </div>

      <div class="input-wrapper">
        <%= f.label :birthdate, class: 'form-label' %>
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none pr-5">
            <svg class="w-5 h-5 text-teal-500 dark:text-teal-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </div>
          <%= f.date_field :birthdate, class: 'input date-field' %>
        </div>
      </div>
      
      <%= render 'shared/session_button' do %>
        <span>Sign Up</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
