<%= render 'shared/vertical_container' do %>
  <%= render 'shared/session_card', content: { title: 'Sign In To Your Account', login: true } do %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-wrapper">
        <%= f.label :email, class: 'form-label' %>
        <div class="relative">
          <div class="input-icon">
            <svg class="h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
            </svg>
          </div>
          <%= f.email_field :email, placeholder: 'Email', class: 'input input-with-icon' %>
        </div>
      </div>
      <div class="input-wrapper">
        <%= f.label :password, class: 'form-label' %>
        <div class="relative">
          <div class="input-icon">
            <svg class="h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
            </svg>
          </div>
          <%= f.password_field :password, placeholder: 'Password', class: 'input input-with-icon' %>
        </div>
      </div>

      <div class="flex items-center mb-6 -mt-4">
        <div class="flex ml-auto">
          <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'inline-flex text-xs sm:text-sm text-teal-500 hover:text-teal-600' %>
          <% end %>
        </div>
      </div>
      
      <%= render 'shared/session_button' do %>
        <span class="mr-2">Sign In</span>
        <span>
          <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </span>
      <% end %>
    <% end %>
    </div>
    <div class="flex justify-center items-center mt-6">
    <%= link_to new_user_registration_path, class: 'inline-flex items-center font-bold text-teal-500 hover:text-teal-600 text-xs text-center' do %>
      <span>
        <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
        </svg>
      </span>
      <span class="ml-2">You don't have an account?</span>
    <% end %>
    </div>
  <% end %>
<% end %>