<%= form_for category do |f| %>
  <div class="input-wrapper">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, placeholder: "#{t('categories.placeholder.name')}", class: 'input' %>
  </div>

  <div class="flex flex-row justify-end gap-x-1">
    <%= link_to 'Cancel', categories_path, class: 'btn-alt btn-alt-slate' %>
    <button type="submit" class="btn-alt btn-alt-blue" data-turbo-frame="category_cotainer">
      <%= t button_title %>
    </button>
  </div>
<% end %>